@mixin link-decoration($color) {
  text-decoration: none;
  color: $color;
}

@mixin text-style-base($size, $lh, $weight, $color) {
  font: {
    size: $size;
    weight: $weight;
  }
  line-height: $lh;
  color: $color;
}

@mixin text-null {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
