// Fonts

$base-title-font:   'Open Sans', Arial, sans-serif;
$base-font:         'PT Sans', Arial, sans-serif;


$fs-base:            14px;
$fs-title:           16px;
$fs-subtitle:        18px;
$fs-global-title:    48px;

$fw-normal:          400;
$fw-bold:            700;



// Colors

$base-color:         #000;
$base-menu-color:    #fff;
$base-text-color:    #333;
$title-color:        #19263f;
$link-color:         #1657ab;
$btn-color:          #80b450;
