// Fonts

$base-title-font:   'DINPro', Arial, sans-serif;
$base-font:         'Roboto', Arial, sans-serif;


$fs-base:            1.6rem;
$fs-title:           4.8rem;



// Colors

$dark-grey: #222222;
$medium-grey: rgba(#FFF, 0.3);
$medium-orange: #F47821;