html {
  box-sizing: border-box;
  font-size: 10px;

  @media(min-width: 1600px) {
    font-size: 13px;
  }

  @media(min-width: 2200px) {
    font-size: 16px;
  }

  @media(max-width: 999px) {
    font-size: 9px;
  }

  @media(max-width: 899px) {
    font-size: 8px;
  }

  @media(max-width: 799px) {
    font-size: 7px;
  }

  @media(max-width: 699px) {
    font-size: 6px;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}


body {
  font-family: $base-font;
}

.is-valid {
  background: transparent;
}

.not-valid {
  border: 1px solid red;
}