.partners {
  margin-bottom: 250px;

  @media screen and (max-width: 64em) {
    margin-bottom: 100px;
  }
}

.partners__title {
  @include text-style-base(20px, $fw-bold, $title-color);
  letter-spacing: -1px;
  text-align: center;

  margin: 0;
}

.partners__description {
  @include text-style-base($fs-title, $fw-normal, #010101);
  text-align: center;

  margin: 0;
  margin-top: 30px;
}

.partners__text {
  @include text-style-base($fs-title, $fw-normal, $base-color);
  line-height: 24px;

  margin: 0;
  margin-top: 27px;
  padding: 0 15px;
}
