.promo {
  margin-top: 76px;
  margin-bottom: 100px;
  text-align: center;
}

.promo__title {
  @include text-style-base(20px, $fw-bold, $title-color);
  text-align: center;

  margin: 0;
  padding: 0;
  margin-bottom: 35px;
}

.promo__description {
  @include text-style-base($fs-title, $fw-normal, $base-color);
  line-height: 24px;
  text-align: center;

  margin: 0;
}

.promo__item {
  margin-top: 80px;
  width: 260px;
  text-align: center;
  padding: 0 10px;

  &:nth-child(-n+3) {
    margin-bottom: -10px;
  }
}

.promo__topic {
  @include text-style-base($fs-title, $fw-bold, $title-color);
  text-transform: uppercase;
  letter-spacing: -0.8px;

  margin: 0;
  margin-top: 37px;
  margin-bottom: 10px;
}

.promo__text {
  @include text-style-base($fs-base, $fw-normal, $base-color);
  line-height: 20px;

  margin: 0;
}

.promo__img-wrap {
  margin: 0 auto;
  // width: 64px;
  height: 64px;
}

.promo__link {
  @include text-style-base(15px, $fw-normal, $title-color);
  display: inline-block;
  margin: 70px auto 0;
  padding: 17px 37px 10px 38px;
  border: 1px solid $btn-color;
  border-radius: 3px;
  text-decoration: none;
  transition: all 1s;

  &:hover {
    background: $btn-color;
    color: $base-menu-color;
    transition: all 1s;
  }

  &:focus {
    outline: none;
    background: $btn-color;
    color: $base-menu-color;
    transition: all 1s;
  }

  &:active {
    background: darken($btn-color, 15);
    color: $base-menu-color;
    transition: all 1s;
  }
}
