.social {
  display: flex;
  justify-content: space-around;
  margin: -5px auto 0;
  width: 252px;
}

.social__link {
  @include text-null;
  //display: block;
  width: 54px;
  height: 53px;
  transition: all 1s;

  &--fb {
    background: url('../images/icons/icon-fb.png') no-repeat;
  }

  &--twt {
    background: url('../images/icons/icon-twi.png') no-repeat;
  }

  &--instagram {
    background: url('../images/icons/icon-instagram.png') no-repeat;
  }

  &:hover {
    filter: brightness(2);
    transition: all 1s;
  }

  &:focus {
    filter: brightness(2);
    transition: all 1s;
  }

  &:focus {
    filter: brightness(0.7);
    transition: all 1s;
  }
}
